<a href="https://colab.research.google.com/github/Fiarma5233/Data-Science/blob/master/Web_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

#Ce projet m'a permis d'extraire des donnees d'un site web en utilisant beautifulsoup et requests puis les charger sous format csv et dans une base de donnees sqlite3

import requests
import sqlite3
import pandas as pd
from bs4 import BeautifulSoup
# Importe les bibliothèques nécessaires pour effectuer des requêtes HTTP, interagir avec SQLite, manipuler des données tabulaires avec pandas et analyser le HTML.

url = 'https://web.archive.org/web/20230902185655/https://en.everybodywiki.com/100_Most_Highly-Ranked_Films'
# Déclare une variable 'url' contenant l'URL de la page web archivée avec la liste des films les mieux classés.

db_name = 'Movies.db'
# Déclare une variable 'db_name' contenant le nom de la base de données SQLite.

table_name = 'Top_50'
# Déclare une variable 'table_name' contenant le nom de la table où les données des films seront stockées.

csv_path = 'top_50_films.csv'
# Déclare une variable 'csv_path' contenant le chemin du fichier CSV où les données des films seront enregistrées.

df = pd.DataFrame(columns=["Average Rank", "Film", "Year"])
# Crée un DataFrame pandas vide avec des colonnes pour le rang moyen, le nom du film et l'année.

count = 0
# Initialise un compteur à 0 pour suivre le nombre de films traités.

html_page = requests.get(url).text
# Envoie une requête HTTP GET à l'URL spécifiée et stocke le contenu de la page HTML dans la variable 'html_page'.

data = BeautifulSoup(html_page, 'html.parser')
# Analyse le contenu HTML de 'html_page' avec BeautifulSoup en utilisant le parser HTML intégré et stocke le résultat dans la variable 'data'.

tables = data.find_all('tbody')
# Trouve tous les éléments <tbody> dans le HTML analysé et les stocke dans la liste 'tables'.

rows = tables[0].find_all('tr')
# Trouve toutes les lignes <tr> dans le premier <tbody> trouvé et les stocke dans la liste 'rows'.

for row in rows:
    # Boucle à travers chaque ligne <tr> dans 'rows'.
    if count < 50:
        # Vérifie si le compteur 'count' est inférieur à 50.
        col = row.find_all('td')
        # Trouve toutes les cellules <td> dans la ligne actuelle <tr>.
        if len(col) != 0:
            # Vérifie si la ligne contient des cellules <td>.
            data_dict = {
                "Average Rank": int(col[0].contents[0]),
                "Film": str(col[1].contents[0]),
                "Year": int(col[2].contents[0])
            }
            # Crée un dictionnaire 'data_dict' avec les données extraites de la ligne.
            df1 = pd.DataFrame(data_dict, index=[0])
            # Crée un DataFrame 'df1' à partir du dictionnaire 'data_dict'.
            df = pd.concat([df, df1], ignore_index=True)
            # Concatène 'df1' au DataFrame 'df' existant.
            count += 1
            # Incrémente le compteur 'count' de 1.
    else:
        break
        # Si 'count' atteint 50, la boucle se termine.

#print(df)
# Affiche le DataFrame 'df' dans la console.

df.to_csv(csv_path)
# Sauvegarde le DataFrame 'df' dans un fichier CSV spécifié par 'csv_path'.

conn = sqlite3.connect(db_name)
# Établit une connexion à la base de données SQLite nommée 'db_name'.

df.to_sql(table_name, conn, if_exists='replace', index=False)
# Insère le DataFrame 'df' dans la table 'table_name' de la base de données.
# Si la table existe déjà, elle sera remplacée. Les indices du DataFrame ne sont pas écrits dans la table.

conn.close()
# Ferme la connexion à la base de données.

In [3]:
df.head(20)

   Average Rank                                           Film  Year
0             1                                  The Godfather  1972
1             2                                   Citizen Kane  1941
2             3                                     Casablanca  1942
3             4                         The Godfather, Part II  1974
4             5                            Singin' in the Rain  1952
5             6                                         Psycho  1960
6             7                                    Rear Window  1954
7             8                                 Apocalypse Now  1979
8             9                          2001: A Space Odyssey  1968
9            10                                  Seven Samurai  1954
10           11                                        Vertigo  1958
11           12                                    Sunset Blvd  1950
12           13                                   Modern Times  1936
13           14                             Lawrence of Arabia  1962
14           15                             North by Northwest  1959
15           16                                      Star Wars  1977
16           17                                       Parasite  2019
17           18                               Schindler's List  1993
18           19  Lord of the Rings: The Fellowship of the Ring  2001
19           20                           Shawshank Redemption  1994